<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Blocked</title>
  <link rel="stylesheet" href="/css/styles/user/banuser.css">
</head>
<body>
    <div class="container">
        <h1>User Access Blocked</h1>
        <p>Your account has been banned or blocked due to violations of our terms and conditions.</p>
        <a href="/signin" class="btn">Login</a>
    </div>
</body>
</html>
