<%- include('../partials/user/header') %>

<div class="container3 mt-5">
  <div class="auth-wrapper" style="height: 312px">
    <div class="tab-content" id="auth-tabContent">
      <!-- Sign in Form -->
      <div
        class="tab-pane fade show active"
        id="sign-up"
        role="tabpanel"
        aria-labelledby="sign-up-tab"
      >
        <h5 style="margin-left: 90px; color: blue">Forgotten Password</h5>
        <div class="container forgomsg">
          <p style="font-size: small; margin-left: 30px">
            Enter the email address or mobile phone number
            <span class="ms-5">associate with your Clicon account.</span>
          </p>
        </div>
        <form>
          <div class="mb-3">
            <label for="sign-up-email" class="form-label">Email address</label>
            <input
              type="email"
              class="form-control"
              id="sign-up-email"
              placeholder="Enter your email"
            />
          </div>

          <button type="submit" class="btn btn-primary mt-2">Sign Up</button>

          <a
            href="./signin"
            style="
              display: flex;
              justify-content: flex-end;
              text-decoration: none;
              margin-top: 10px;
            "
            >back</a
          >
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/user/footer') %>
