<%- include('../partials/user/header') %>

<div class="container3 mt-5">
  <div class="auth-wrapper">
    <h4 class="ms-5">Enter New Password</h4>
    <div class="tab-content" id="auth-tabContent">
      <!-- resetpassword in Form -->
      <div
        class="tab-pane fade show active"
        id="sign-up"
        role="tabpanel"
        aria-labelledby="sign-up-tab"
      >
        <form>
          <div class="mb-3">
            <label for="sign-up-password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="sign-up-password"
              placeholder="Enter your password"
            />
          </div>
          <div class="mb-3">
            <label for="sign-up-confirm-password" class="form-label"
              >Confirm Password</label
            >
            <input
              type="password"
              class="form-control"
              id="sign-up-confirm-password"
              placeholder="Confirm your password"
            />
          </div>

          <button type="submit" class="btn btn-primary mt-2">Sign Up</button>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/user/footer') %>
