<%- include('../partials/user/header') %>

<div class="container3 mt-5">
  <div class="auth-wrapper">
    <ul class="nav nav-tabs mb-3" id="auth-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <form action="./signin">
          <button
            class="nav-link active"
            id="sign-up-tab"
            data-bs-toggle="tab"
            type="submit"
            role="tab"
          >
            Sign in
          </button>
        </form>
      </li>
      <li class="nav-item" role="presentation">
        <form action="./signup" method="get">
          <button
            class="nav-link"
            id="sign-in-tab"
            type="submit"
            role="tab"
          >
            Sign up
          </button>
        </form>
      </li>
    </ul>
    <div class="tab-content" id="auth-tabContent">
      <!-- Sign in Form -->
      <div
        class="tab-pane fade show active"
        id="sign-up"
        role="tabpanel"
        aria-labelledby="sign-up-tab"
      >
      
      <p style="color: red;"><%= typeof error !== 'undefined' ? error : '' %></p>
      
     
        
          <div class="mb-3">
            <label for="sign-up-name" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              id="sign-up-name"
              placeholder="Enter your name"
              name="name"
            />
          </div>
          <div class="mb-3">
            <label for="sign-up-email" class="form-label">Email address</label>
            <input
              type="email"
              class="form-control"
              id="sign-up-email"
              placeholder="Enter your email"
              name="email"
            />
          </div>
          <div class="mb-3">
            <label for="sign-up-password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="sign-up-password"
              placeholder="Enter your password"
              name="password"
            />
          </div>
        
           <a href="./forgot" style="text-decoration: none;   display: flex; justify-content: flex-end;" > Forgot Password</a>
           <form action="/signin"  method="post"></form>
          <button type="submit" class="btn btn-primary mt-2">Sign Up</button>
        </form>
        <div class="container ">
          <button class="google-btn d-flex align-items-center justify-content-center mt-3 ms-3">
              <img src="/images/google icon.png" alt="Google logo">
              <span class="text-secondary">Sign in with Google</span>
          </button>
      </div>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/user/footer') %>
